<section class="container py-12 mt-[74px]">
  <div class="ProseMirror px-6">
    {{ page.settings.content }}
  </div>
</section>

{% schema %}
  {
    "name": "t:schema.templates.blank.name",
    "description": "t:schema.templates.blank.description",
    "thumb_url": "",
    "sub_page_templates": ["blank"],
    "settings": [
      {
        "id": "content",
        "type": "richtext",
        "label": "t:schema.templates.blank.settings.content.label",
        "height": 0.75
      }
    ]
  }
{% endschema %}