{% assign pages = page.pages_in_list | order_by: '-published_at' %}

<section>
  <section class="relative py-32 w-full bg-center bg-no-repeat bg-cover lg:py-44"
    style="background-image: url({{ page.settings.bg_image }})">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container relative">
      <h3 class="mt-10 text-2xl font-semibold leading-normal text-center text-white md:text-3xl md:leading-normal">
        {{ page.settings.title }}
      </h3>
    </div>
  </section>
  <div class="relative">
    <div class="overflow-hidden text-white shape z-1 dark:text-slate-900" style="position: absolute;
    inset-inline-end: 0px;
    bottom: -1px;
    inset-inline-start: 0px;">
      <svg viewBox="0 0 2880 48" fill="none" style="height: auto;
      width: 100%;
      transform: scale(2);
      transform-origin: top center" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <section class="py-16 md:py-24">
    <div class="container">
      {% paginate_tag pages, as: 'items', per: 12 %}
        {% if paginate.total_count > 0 %}
          <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 md:grid-cols-2">
            {% for page in items %}
              {% render 'blog/card', page: page %}
            {% endfor %}
          </div>
          <div class="grid grid-cols-1 mt-6 md:grid-cols-12">
            <div class="text-center md:col-span-12">
              {% render 'paginate', paginate: paginate %}
            </div>
          </div>
        {% else %}
          {% render 'empty',
          title: 't:schema.templates.release-logs-list.empty.title',
          description: 't:schema.templates.release-logs-list.empty.description',
          icon: 'document',
          button_text: 't:schema.templates.release-logs-list.empty.button_text',
          button_url: '/'
          %}
        {% endif %}
      {% endpaginate_tag %}
    </div>
  </section>
</section>

{% schema %}
{
"name": "t:schema.templates.blog-list.name",
"description": "t:schema.templates.blog-list.description",
"thumb_url": "",
"sub_page_templates": [
"blog-page"
],
"settings": [
  {
  "id": "title",
  "type": "text",
  "placeholder": "",
  "label": "t:schema.templates.blog-list.settings.title.label",
  "info": "t:schema.templates.blog-list.settings.title.info",
  "default": "t:schema.templates.blog-list.settings.title.default"
  },
  {
  "type": "image_picker",
  "id": "bg_image",
  "height": 256,
  "ratio": "16:9",
  "label": "t:schema.templates.blog-list.settings.bg_image.label",
  "info": "t:schema.templates.blog-list.settings.bg_image.info"
  }
]
}
{% endschema %}
