<section name="helper-center-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>帮助中心栏目页 - help-center-list.liquid</h1>
            </div>
        </div>
    </div>
</section>

<section name="help-center-list">

</section>

{% schema %}
  {
      "name": "t:schema.templates.help-center-list.name",
      "description": "t:schema.templates.help-center-list.description",
      "thumb_url": "",
      "sub_page_templates": ["help-center-page"]
  }
{% endschema %}
