<div class="w-full container mx-auto grid grid-cols-1 lg:grid-cols-[var(--left-sidebar-width)_1fr] gap-6 md:pt-4 [&.has-toc]:lg:grid-cols-[var(--left-sidebar-width)_1fr_var(--right-sidebar-width)]">

</div>

{% schema %}
{
	"name": "t:schema.templates.link-directory-page.name",
	"description": "t:schema.templates.link-directory-page.description",
	"thumb_url": "images/theme/link-directory.png",
	"sub_page_templates": [],
	"settings": [
		{
			"id": "hot",
			"type": "checkbox",
			"label": "t:schema.templates.link-directory-page.settings.hot.label",
			"info": "t:schema.templates.link-directory-page.settings.hot.info",
			"default": false,
			"query_enabled": true
		},
		{
			"id": "tags",
			"type": "tag_picker",
			"multiple": true,
			"label": "t:schema.templates.link-directory-page.settings.tags.label",
			"query_enabled": true,
			"info": "t:schema.templates.link-directory-page.settings.tags.info"
		},
		{
			"id": "icon",
			"type": "image_picker",
			"ratio": "1:1",
			"width": 100,
			"label": "t:schema.templates.link-directory-page.settings.icon.label",
			"info": "t:schema.templates.link-directory-page.settings.icon.info"
		},
		{
			"id": "title",
			"type": "text",
			"readonly": false,
			"label": "t:schema.templates.link-directory-page.settings.title.label",
			"info": "t:schema.templates.link-directory-page.settings.title.info"
		},
		{
			"id": "external_link",
			"type": "text",
			"label": "t:schema.templates.link-directory-page.settings.external_link.label",
			"info": "t:schema.templates.link-directory-page.settings.external_link.info",
			"default": "",
			"required": true
		},
		{
			"id": "description",
			"type": "textarea",
			"label": "t:schema.templates.link-directory-page.settings.description.label"
		}
	]
}
{% endschema %}
