<div></div>

{% schema %}
{
	"name": "t:schema.templates.link-directory-list.name",
	"description": "t:schema.templates.link-directory-list.description",
	"thumb_url": "images/theme/link-directory.png",
	"sub_page_templates": ["link-directory-page"],
	"settings": [
		{
			"id": "tags",
			"type": "tag_picker",
			"multiple": true,
			"label": "t:schema.templates.link-directory-list.settings.tags.label",
			"query_enabled": true,
			"info": "t:schema.templates.link-directory-list.settings.tags.info"
		},
		{
			"id": "icon",
			"type": "image_picker",
			"ratio": "1:1",
			"width": 100,
			"label": "t:schema.templates.link-directory-list.settings.icon.label",
			"info": "t:schema.templates.link-directory-list.settings.icon.info"
		},
		{
			"id": "title",
			"type": "text",
			"readonly": false,
			"label": "t:schema.templates.link-directory-list.settings.title.label",
			"info": "t:schema.templates.link-directory-list.settings.title.info"
		}
	]
}
{% endschema %}
